@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/* Base */
:root {
    --white-100: #FFFFFF;
    --white-200: #F6F5F8;
    --white-300: #E1E5F1;
    --white-400: #AEB8D0;
    --white-500: #818FAC;

    --black-100: #000000;
    --black-200: #383F5C;

    --blue-100: #5DCAF9;
    --blue-200: #55b8e3;
    --blue-300: #4ca5cb;
    --blue-400: #4493b6;

    --blue-transparency-90: rgba(93, 202, 249, 0.9);
    --blue-transparency-80: rgba(93, 202, 249, 0.8);
    --blue-transparency-70: rgba(93, 202, 249, 0.7);
    --blue-transparency-60: rgba(93, 202, 249, 0.6);
    --blue-transparency-50: rgba(93, 202, 249, 0.5);
    --blue-transparency-40: rgba(93, 202, 249, 0.4);
    --blue-transparency-30: rgba(93, 202, 249, 0.3);
    --blue-transparency-20: rgba(93, 202, 249, 0.2);
    --blue-transparency-10: rgba(93, 202, 249, 0.1);

    --blue-gradient: linear-gradient(225deg, rgba(161,227,255,1) 0%, rgba(52,187,247,1) 100%);

    --violet-100: #7A5BFE;
    --violet-200: #7256ee;
    --violet-300: #6a50dc;
    --violet-400: #6049c7;

    --violet-transparency-90: rgba(122, 91, 254, 0.9);
    --violet-transparency-80: rgba(122, 91, 254, 0.8);
    --violet-transparency-70: rgba(122, 91, 254, 0.7);
    --violet-transparency-60: rgba(122, 91, 254, 0.6);
    --violet-transparency-50: rgba(122, 91, 254, 0.5);
    --violet-transparency-40: rgba(122, 91, 254, 0.4);
    --violet-transparency-30: rgba(122, 91, 254, 0.3);
    --violet-transparency-20: rgba(122, 91, 254, 0.2);
    --violet-transparency-10: rgba(122, 91, 254, 0.1);

    --sidebar-width: 270px;

    --max-z-index: 2147483647;
    --ribbon-z-index: 1031;
    --sidebar-z-index: 1;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: .925rem;
    background: var(--white-200);
}

::-webkit-scrollbar {
    background: transparent;
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
}
/* Base end */

/* Other */
.dropdown-toggle.without-caret::after {
    display: inline-block;
    margin-left: 0;
    vertical-align: 0;
    content: "";
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
    border-left: 0;
}

.justify-content-lg-between-or-center {
    justify-content: center !important;
}

@media (min-width: 992px) {
    .justify-content-lg-between-or-center {
        justify-content: space-between !important;
    }
}

.py-6 {
    padding-top: 6rem !important;
    padding-bottom: 6rem !important;
}

.fullscreen {
    min-height: 100vh;
    box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.AnyTime-win {
    z-index: 3;
}

label.error {
    color: red;
}

.select2-dropdown {
    z-index: 999999;
}

.accordion-collapse-content {
    height: 100%;
    width: 100%;
    padding: 1rem !important;
}
/* Other end */

/* Auth page */
/* Main section */
.section-main-container {
    background: linear-gradient(60deg, rgba(84,58,183,1) 0%, rgba(0,172,193,1) 100%);
    min-height: 95vh;
    box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.section-main-container > .section-main-content {
    min-height: 80vh;
    box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding-top: 100px;
    padding-bottom: 50px;
}

.section-main-container > .section-main-waves > svg {
    height:15vh;
    width: 100%;
}

.section-main-container > .section-main-waves > svg > .parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5) infinite;
}

.section-main-container > .section-main-waves > svg > .parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}

.section-main-container > .section-main-waves > svg > .parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}

.section-main-container > .section-main-waves > svg > .parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}

.section-main-container > .section-main-waves > svg > .parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}

@keyframes move-forever {
    0% {
        transform: translate3d(-90px,0,0);
    }
    100% {
        transform: translate3d(85px,0,0);
    }
}

/* Sing in form */
.section-main-content .sing-in-form {
    padding-top: .7rem;
    height: 335px;
    background: #fff;
    margin: 0 1rem 0 1rem;
    border-radius: 0.3rem !important;
    text-align: center !important;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12), 0 3px 5px -1px rgba(0, 0, 0, .2);
}

.section-main-content .sing-in-form:hover{
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    transition: 1s ease;
}

@media (min-width: 1200px) {
    .section-main-content .sing-in-form {
        padding-top: 1rem;
        height: 380px;
    }
}

.section-main-content .sing-in-form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 80%;
    border: 0;
    margin: 0 auto .7rem auto;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    border-radius: 0.2rem !important;
}

.section-main-content .sing-in-form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 80%;
    border: 0;
    margin: 0 auto .7rem auto;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
    border-radius: 0.2rem !important;
}

.section-main-content .sing-in-form button:hover,.sing-in-form button:active,.sing-in-form button:focus {
    background: #43A047;
}

.section-main-content .sing-in-form .message {
    color: #b3b3b3;
    font-size: 12px;
}
/* Sing in form end */
/* Main section end */
/* Auth page end */

/* Ribbon */
.ribbon {
    background-color: var(--blue-transparency-60);
    overflow: hidden;
    white-space: nowrap;
    position: fixed;
    left: -50px;
    top: 5px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    z-index: var(--ribbon-z-index);
    font-size: 12px;
}

.ribbon small {
    border: 1px solid #fff;
    color: var(--white-100);
    display: block;
    font: bold 100% 'Helvetica Neue';
    margin: 1px 0;
    padding: 10px 50px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 0 5px var(--white-400);
}
/* Ribbon end */

/* Header */
/* Navbar */
#wrapper > .navbar {
    border-bottom: 1px solid var(--white-200);
    background-color: var(--white-100);
}

#wrapper > .navbar .nav-link {
    padding-top: 5px !important;
}

#wrapper > .navbar .nav-item > a > img {
    width: 21px;
}

#wrapper > .navbar .nav-item {
    width: 40px;
    height: 40px;
    font-size: 1.3rem;
    padding-left: 2px;
    border-radius: 50rem !important;
    border: 1px solid var(--white-200);
    background-color: var(--white-200);
}

#wrapper > .navbar .nav-item:hover {
    background-color: var(--blue-100);
}

#wrapper > .navbar .nav-link {
    color: var(--white-400);
}

#wrapper > .navbar .nav-item:hover .nav-link {
    color: var(--white-100);
}
/* Navbar end */

/* Breadcrumb */
#wrapper > .navbar .breadcrumb > .breadcrumb {
    margin-bottom: 0;
}

#wrapper > .navbar .breadcrumb-item+.breadcrumb-item::before {
    padding-top: 2px;
}

#wrapper > .navbar .breadcrumb-item > a {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--white-400);
}

#wrapper > .navbar .breadcrumb-item.active > a {
    color: var(--blue-100);
}
/* Breadcrumb end */
/* Header end */

/* Sidebar */
.sidebar {
    background-color: var(--white-100);
    width: var(--sidebar-width);
    transform: translateX(0);
    z-index: var(--sidebar-z-index);
    overflow-y: scroll;
    padding-left: 5px;
    border-right: 1px solid var(--white-200);
}

.sidebar .sidebar-header > img {
    width: 70px;
    height: 70px;
}

.sidebar .sidebar-header h5 {
    font-weight: bold;
    color: var(--black-200);
}

.sidebar .sidebar-header p {
    color: var(--white-500);
    font-size: .825rem;
}

.show-sidebar {
    transform: translateX(-280px);
}

.sidebar::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0);
}

.sidebar:hover::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
}

/* Sidebar list */
.sidebar .categories > li {
    margin: 10px 5px 10px 5px;
    border-bottom: 1px solid var(--white-200);
}

.sidebar .categories .text-truncate:hover {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

.sidebar .categories > li > a > div {
    padding: .7rem 1.2rem;
}

.sidebar .categories a {
    font-weight: bold;
    color: var(--blue-100);
    text-decoration: none;
}

.sidebar .categories i {
    color: var(--blue-100);
    font-size: 18px;
    margin-right: .2rem;
}

.sidebar .categories > li:hover {
    border-radius: .8rem !important;
    background: var(--blue-gradient);
}

.sidebar .categories > li:hover .badge {
    background-color: var(--white-100)!important;
    color: var(--blue-100);
}

.sidebar .categories > li:hover a,
.sidebar .categories > li:hover i,
.sidebar .categories > li.has-dropdown:hover > a:after {
    color: var(--white-100);
}

.sidebar .categories > li.has-dropdown > a > div > i {
    transition: all .3s ease-in-out;
}

.sidebar .categories > li.has-dropdown.opened > a > div > i {
    transform: rotate(-90deg);
}

.sidebar .categories .sidebar-dropdown {
    padding: 0 15px 10px 15px;
    display: none;
}

.sidebar .categories .sidebar-dropdown > li {
    padding: 0 10px 0 10px;
}

.sidebar .categories .sidebar-dropdown.active {
    display: block;
}

.sidebar .categories .sidebar-dropdown > li > a {
    font-size: .85rem;
    font-weight: bold;
    padding: .5rem 0;
    display: block;
}

.sidebar .categories .sidebar-dropdown > li {
    border-radius: .8rem !important;
}

.sidebar .categories .sidebar-dropdown > li:hover {
    background-color: var(--white-100);
}

.sidebar .categories .sidebar-dropdown > li:hover a {
    color: var(--blue-100);
}
/* Sidebar list end */
/* Sidebar end */

/* Content */
#wrapper {
    margin-left: var(--sidebar-width);
}

#wrapper.fullwidth {
    margin-left: 0;
}

@media (max-width: 767px) {
    #wrapper {
        margin: 0 !important
    }
}
/* Content end */

/* Card */
.card-custom {
    border-radius: 1.5rem !important;
    border-color: var(--white-200);
    padding: .5rem;
}

.card-custom > .card-header {
    background-color: var(--white-100);
    color: var(--white-500);
    margin: 0 1rem;
    padding: .5rem 0;
    border-bottom: 1px solid var(--white-200);
}

.card-custom > .card-footer {
    background-color: var(--white-100);
    color: var(--white-500);
    margin: 0 1rem;
    padding: .5rem 0;
    border-top: 1px solid var(--white-200);
}

.card-custom .card-header > h5 {
    line-height: 2;
    margin-bottom: 0;
}
/* Card end */

/* Table */
/* Table card header */
.card-table .card-body .row > .col-12:first-child > form {
    padding: 1rem;
    border-right: 1px solid var(--white-200);
    border-bottom: 1px solid var(--white-200);
    border-left: 1px solid var(--white-200);
}

.card-table .card-body .row > .col-12:last-child {
    margin-top: 1rem;
}

.card-table .card-body {
    padding-top: 0 !important;
}

.card-table .card-header > .btn {
    padding-bottom: 0;
}
/* Table card header end */

/* Table buttons */
.dt-buttons .btn {
    border: 1px solid var(--white-200);
}

.dt-buttons i {
    margin-right: 5px;
}

.dt-buttons > .btn,
.dt-buttons > .btn-group {
    margin-right: 10px;
    border-radius: .3rem !important;
}

.dt-buttons > .btn-group > .btn {
    border-radius: .3rem !important;
}

.dropdown-item.active, .dropdown-item:active {
     color: #fff;
     text-decoration: none;
     background-color: var(--blue-100);
 }

/* Removing empty icons */
.dt-buttons .icon-asd {
    display: none;
}
/* Removing empty icons end */
/* Table buttons end */

/* Table pagination */
.dataTables_paginate > .pagination > .page-item .page-link {
    border-radius: 100% !important;
    border: 1px solid var(--white-100);
}

.dataTables_paginate > .pagination > .page-item.first .page-link,
.dataTables_paginate > .pagination > .page-item.previous .page-link,
.dataTables_paginate > .pagination > .page-item.next .page-link,
.dataTables_paginate > .pagination > .page-item.last .page-link {
    border: 1px solid var(--white-200);
    padding: .375rem .6rem !important;
}

.dataTables_paginate > .pagination .page-item {
    margin-left: 10px;
}

.dataTables_paginate > .pagination > .page-item.active .page-link {
    background-color: var(--blue-100);
    border-color: var(--blue-100);
}
/* Table pagination end */

/* Table content */
table.dataTable tbody>tr.selected, table.dataTable tbody>tr>.selected {
    background-color: var(--blue-transparency-30);
}

table.dataTable.table-sm > thead > tr > th {
    border-top: 1px solid var(--white-200);
    border-bottom: 1px solid var(--white-200);
}

table.dataTable.table-sm > thead > tr > th:first-child {
    padding-left: 10px;
    border-top-left-radius: .3rem !important;
    border-left: 1px solid var(--white-200);
}

table.dataTable.table-sm > thead > tr > th:last-child {
    border-top-right-radius: .3rem !important;
    border-right: 1px solid var(--white-200);
}

table.dataTable.table-sm > thead > tr {
    white-space: nowrap;
}

.dataTables_scrollBody .dataTable > tbody > tr > td {
    border-bottom: 1px solid var(--white-200);
    padding-left: 10px;
}

.dataTables_scrollBody .dataTable > tbody > tr > td:first-child {
    border-left: 1px solid var(--white-200);
    padding-left: 10px;
}

.dataTables_scrollBody .dataTable > tbody > tr > td:last-child {
    border-right: 1px solid var(--white-200);
    padding-right: 10px;
}

.dataTables_scrollBody .dataTable > tbody > tr:last-child > td:first-child {
    border-bottom-left-radius: .3rem !important;
}

.dataTables_scrollBody .dataTable > tbody > tr:last-child > td:last-child {
    border-bottom-right-radius: .3rem !important;
}

.dataTable tbody > tr.selected, .dataTable tbody > tr {
    cursor: pointer;
}

table.dataTable.table-sm .sorting:before, table.dataTable.table-sm .sorting_asc:before, table.dataTable.table-sm .sorting_desc:before {
    top: 2px !important;
}

table.dataTable.table-sm .sorting:after, table.dataTable.table-sm .sorting_asc:after, table.dataTable.table-sm .sorting_desc:after {
    top: 2px !important;
}
/* Table content end */

.dataTables_length select {
    height: 35px !important;
    cursor: pointer !important;
}

.dataTables_info {
    padding-top: 0 !important;
}
/* Table end */

/* Select2 */
.select2-container .select2-selection--single {
    height: 35px !important;
}

.select2-container--default .select2-selection--single {
    border: 1px solid var(--white-400) !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 33px !important;
}

.select2-container--default .select2-selection--single .select2-selection__clear {
    height: 32px !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 33px !important;
}
/* Select2 end */

/* Bootstrap colors */
/* Border */
.border {
    border: 1px solid var(--white-200) !important;
}

.border-top {
    border-top: 1px solid var(--white-200) !important;
}

.border-end {
    border-right: 1px solid var(--white-200) !important;
}

.border-bottom {
    border-bottom: 1px solid var(--white-200) !important;
}

.border-start {
    border-left: 1px solid var(--white-200) !important;
}
/* Border end */

/* Tabs */
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: var(--blue-100);
    border-color: var(--white-200) var(--white-200) var(--white-100) var(--white-200);
}

.nav-tabs {
    border-bottom: 1px solid var(--white-200) !important;
}

.nav-tabs .nav-link:not(.active) {
    color: var(--white-500);
    border-color: var(--white-100) var(--white-100) var(--white-200) var(--white-100);
}
/* Tabs end */

/* bg */
.bg-blue {
    background-color: var(--blue-100) !important;
}
/* bg end */

/* btn */
.btn-primary {
    color: var(--white-100);
    background-color: var(--blue-100);
    border-color: var(--blue-100);
}

.btn-primary:hover {
    color: var(--white-100);
    background-color: var(--blue-200);
    border-color: var(--blue-300);
}

.btn-check:focus + .btn-primary, .btn-primary:focus {
    color: var(--white-100);
    background-color: var(--blue-200);
    border-color: var(--blue-300);
    box-shadow: 0 0 0 0.25rem var(--blue-transparency-50);
}

.btn-check:checked + .btn-primary, .btn-check:active + .btn-primary, .btn-primary:active, .btn-primary.active, .show > .btn-primary.dropdown-toggle {
    color: var(--white-100);
    background-color: var(--blue-300);
    border-color: var(--blue-400);
}

.btn-check:checked + .btn-primary:focus, .btn-check:active + .btn-primary:focus, .btn-primary:active:focus, .btn-primary.active:focus, .show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.25rem var(--blue-transparency-50);
}

.btn-primary:disabled, .btn-primary.disabled {
    color: var(--white-100);
    background-color: var(--blue-100);
    border-color: var(--blue-100);
}

.btn-violet {
    color: var(--white-100);
    background-color: var(--violet-100);
    border-color: var(--violet-100);
}

.btn-violet:hover {
    color: var(--white-100);
    background-color: var(--violet-200);
    border-color: var(--violet-300);
}

.btn-check:focus + .btn-violet, .btn-violet:focus {
    color: var(--white-100);
    background-color: var(--violet-200);
    border-color: var(--violet-300);
    box-shadow: 0 0 0 0.25rem var(--violet-transparency-50);
}

.btn-check:checked + .btn-violet, .btn-check:active + .btn-violet, .btn-violet:active, .btn-violet.active, .show > .btn-violet.dropdown-toggle {
    color: var(--white-100);
    background-color: var(--violet-300);
    border-color: var(--violet-400);
}

.btn-check:checked + .btn-violet:focus, .btn-check:active + .btn-violet:focus, .btn-violet:active:focus, .btn-violet.active:focus, .show > .btn-violet.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.25rem var(--violet-transparency-50);
}

.btn-violet:disabled, .btn-violet.disabled {
    color: var(--white-100);
    background-color: var(--violet-100);
    border-color: var(--violet-100);
}
/* btn end */
/* Bootstrap colors end */

/* SweetAlert2 */
.swal2-container {
    z-index: var(--max-z-index) !important;
}
/* SweetAlert2 end */

/* Timer */
.timer > li {
    display: inline-block;
    font-size: 1em;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
}

.timer > li.dots {
    vertical-align: top;
    padding: 10px 0 0 0;
}

.timer > li span {
    display: block;
    font-size: 3rem;
}
/* Timer end */

/* Timeline */
ul.timeline {
    list-style-type: none;
    position: relative;
}

ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}

ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
}

ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #ed2939;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}
/* Timeline end */

/* Steps form */
.toolbar .btn {
    margin: 0 !important;
}

.toolbar .btn.disabled {
    display: none;
}

.toolbar .sw-btn-prev {
    float: left !important;
}

.toolbar .sw-btn-next,
.toolbar .sw-btn-submit {
    float: right !important;
}
/* Steps form end */